
<h1>Redes sociales más usadas</h1>
<hr>

<div *ngIf="doughnutChartData.labels?.length === 0; else divGrafica" 
    class="alert alert-info">
    Cargando Data...
</div>

<div class="row">
    <div class="col">

        <ng-template #divGrafica>
            <div style="display: block">
                <canvas baseChart
                    class="chart"
                    [data]="doughnutChartData"
                    [type]="doughnutChartType">
                </canvas>
            </div>

            <span class="float-end text-primary">
                Información en billones ususarios
            </span>
        </ng-template>

    </div>
</div>